#header{
	overflow: hidden;
	padding: 0;
	margin-bottom: 15px;
	& > div {
		float: left;
		padding: 5px;
	}
	.logo{
		width: 60%;
		background-color: #f00;
		img{
			display: block;
		}
	}
	.description{
		width: 40%;
		background-color: #000;
		color: #fff;
		font-weight: bold;
		font-size: 12px;
		line-height: 16px;
		padding-left: 15px;
	}
}