.breadcrumb{
	margin-top: -14px;
	padding: 15px;
	a{
		&:hover{
			text-decoration: none;
		}
	}
	.active a{
		font-weight: bold;
	}
}

.width-10{
	width: 10%;
}

.project-details{
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.project-legent{
		background-color: #dadada;
		margin: -20px 0 20px;
		padding: 10px;

		.form-control-static{
			font-size: 12px;
			line-height: 18px;
		}

		.form-control{
			width: 110px;
			margin: 0 10px;
		}
	}

	.row-wrap{
		padding: 0 15px;

		ul{
			li{
				margin-bottom: 10px;
				strong{
					display: block;
				}
				span{}
			}
		}

		.subtitle{
			display: block;
		}

		.list{
			li{
				cursor: pointer;
				border-top: 1px solid #eee;
				margin-bottom: 0;
				line-height: 36px;

				&:hover{
					background-color: #e0e0e0;
				}

				.remove{
					float: right;
					margin-right: 10px;
				}
			}
		}

		.list-table{
			li{
				text-align: justify;
    			text-justify: inter-word;

				& > * {

				}
			}
		}

		.list-form{
			li{
				label{
					span{
						line-height: 20px;
					}
				}
			}
		}

		.group{
			overflow: hidden;
			.subtitle{
				float: left;
				line-height: 34px;
			}

			.control-panel{
				float: right;
			}
		}

		.hierarchy{
			width: 100%;
			float: left;
			overflow-x: hidden;
			overflow-y: auto;
			height: 500px;
		}
	}
}