#main{
	.tools{
		margin-bottom: 15px;
	}
	.projects-grid{
		.head,
		.list{
			margin: 0;
			padding: 0;
			list-style: none;

			& > li {
				cursor: pointer;
			}

			.project-status{
				font-weight: bold;
				text-align: center;
			}
		}

		.head{
			margin-bottom: 15px;
			overflow: hidden;
		}

		.list > li{
			width: 100%;
			overflow: hidden;
			border-top: 1px solid #e1e1e1;

			& > div {
				& > span{
					font-size: 14px;
					line-height: 48px;
				}

				&.project-status{
					font-weight: bold;
					text-align: center;
				}
			}

			&:hover{
				background-color: #eee;
			}
		}
	}
}